[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipdb = "*"
black = "==20.8b1"
isort = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask-migrate = "*"

[requires]
python_version = "3.8"
